package components

templ Logo(logoURL, alt string) {
	<!-- Logo Section -->
	<tr>
		<td style="padding: 15px 0" align="left">
			<img src={ logoURL } alt={ alt } width="40" style="display: block"/>
		</td>
	</tr>
}
