package components

templ OTP(otp string) {
	<!-- OTP Panel -->
	<tr>
		<td align="left" style="padding: 15px 0">
			<div style="display: inline-block; padding: 10px 20px; background-color: #f4f4f4; border-radius: 5px; border: 1px solid #dddddd">
				<span style="font-size: 28px; letter-spacing: 5px; color: #333333; font-family: Arial, sans-serif">{ otp }</span>
			</div>
		</td>
	</tr>
}
